

  <div class="ae-grid au-xs-ta-center au-mb-4 animated fadeIn">


    <div *ngFor="let miembro of _is.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="miembro.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ miembro.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ miembro.subtitulo }}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ miembro.frase }}</p>
      <a href="http://behance.net/gallery/58575177/Diseno-UXUI" target="_blank" class="ae-u-bolder au-underline">{{ miembro.behance }}</a>
    </div>


  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Lorem Ipsum</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>

  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Products<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
